<% dayname=Time.now.strftime("%A")
   month= Time.now.strftime("%B")
   day= Time.now.strftime("%e")
   year= Time.now.strftime("%Y")
%>

<h1>Today<h1>
<p>The date       is <%=dayname%>, <%=month%> <%=day%>,  <%=year%></p>
